/*
Color
    https://colorhunt.co/palette/fbdb93be5b508a2d3b641b2e
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, white 0%, #F5EEDC 100%);
}

.heading {
    font-weight: bolder;
}

.title {
    color: #27548A;
    margin: 10px;
    font-weight: bolder;
    text-align: center;
}

.zoom-out-anm {
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.zoom-out-anm:hover {
    transform: scale(1.05); /* Phóng to nhẹ */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Đổi bóng */
}

.box-shadow {
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}


.ls-style-none {
    list-style-type: none;
}

.fit-content {
    width: fit-content;
}

/*
///////////////////////////////////////////////////////////////
///////////////          WEB HEADER            ////////////////
///////////////////////////////////////////////////////////////
*/

.header {
    background-color: #183B4E;
    color: #F5EEDC;
    padding: 15px;
}

.navbar {
    background-color: #27548A;
    color: #F5EEDC;
}

/*
///////////////////////////////////////////////////////////////
///////////////          WEB CONTENT            ///////////////
///////////////////////////////////////////////////////////////
*/

.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-img {
    width: 500px;
    height: 250px;
}

.member-img  {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.form {
    background-color: #F5EEDC;
    border-radius: 10px;
}

.form .form-label {
    margin: 0;
    padding: 0;
    align-content: center;
}

.carousel {
    max-width: 500px;
}

.carousel-control-prev, .carousel-control-next {
    align-items: center;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.8));
}

.product-categorize {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card {
    max-width: 280px;
    min-width: 260px;
}

.product-card .card-img-top {
    width: 140px;
    min-width: 130px;
}

.product-card .icon {
    margin: 5px;
    width: 25px;
    min-width: 20px;
}

.product-card h6 {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.product-card .card-body .btn {
    background-color: aliceblue;
    color: #27548A;
    padding: 5px;
    margin: 0 auto;
    display: block;
}

.product-card .card-body .btn:hover {
    background-color:#27548A;
    color: aliceblue;
    padding: 5px;
}

.categorize,
.btn{
    background-color: #F5EEDC;
    color: #183B4E !important;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
    min-width: fit-content;
}

.btn:hover {
    background-color: #27548A;
    color: #F5EEDC !important;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

/*
///////////////////////////////////////////////////////////////
///////////////          WEB FOOTER            ////////////////
///////////////////////////////////////////////////////////////
*/

.footer {
    background-color: #183B4E;
    padding: 10px;
}

.footer .footer-ele {
    color: #F5EEDC;
    width: fit-content;
}

.footer-ele p {
    text-align: justify;
    width: 400px;
}