/*
///////////////////////////////////////////////////////////////
///////////////          PRODUCT LINK           ///////////////
///////////////////////////////////////////////////////////////
*/

.product-link {
    color:inherit;
    text-decoration: none;
}

.product-link:hover {
    color: inherit;
}

/*
///////////////////////////////////////////////////////////////
///////////////          PRODUCT CARD           ///////////////
///////////////////////////////////////////////////////////////
*/

.product-card {
    max-width: 280px;
    min-width: 260px;
}

.product-card .card-header {
    height: 160px;
    max-height: 170px;
}

.product-card .detail {
    align-items: center;
}

.product-card .detail h6 {
    font-size: 0.8rem;
}

.product-card .card-img-top {
    width: 140px;
    min-width: 130px;
}

.product-card .icon {
    margin: 5px;
    width: 25px;
    min-width: 20px;
}

.product-card h6 {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.product-card .card-footer .btn {
    background-color: aliceblue;
    color: #27548A;
    padding: 5px;
    margin: 0 auto;
    display: block;
    bottom: 10px;
}

.product-card .card-footer .btn:hover {
    background-color:#27548A;
    color: aliceblue;
    padding: 5px;
}

/*
///////////////////////////////////////////////////////////////
///////////////       PRODUCT SLIDESHOW         ///////////////
///////////////////////////////////////////////////////////////
*/

.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-img {
    min-width: 300px;
    max-width: 500px;
    min-height: 150px;
    max-height: 250px;
}

.carousel {
    max-width: 500px;
}

.carousel-control-prev, .carousel-control-next {
    align-items: center;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.8));
}